@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundPrimary: #ffffff;
  --backgroundSecondary: #e6e9ed;
  --textPrimary: #111132;
  --textSecondary: #64748b;
  --link: #0b69bf;

  --brighnessHover: 0.95;
  --brightnessPress: 1.05;
  --brightnessDisabled: 0.75;
}

[data-theme="dark"] {
  --backgroundPrimary: #0f172a;
  --backgroundSecondary: #363638;
  --textPrimary: #ebebeb;
  --textSecondary: #bdbdbd;
  --link: #8ec9ff;

  --brighnessHover: 1.1;
  --brightnessPress: 0.9;
  --brightnessDisabled: 0.75;
}

[data-accent="red"] {
  --accent: #f28585;
  --accentMuted: #f4abab;
}

[data-accent="red"][data-theme="dark"] {
  --accent: #f25555;
  --accentMuted: #b04749;
}

[data-accent="orange"] {
  --accent: #edb17a;
  --accentMuted: #efc7a4;
}

[data-accent="orange"][data-theme="dark"] {
  --accent: #e1720b;
  --accentMuted: #a55c17;
}

[data-accent="yellow"] {
  --accent: #e0cc87;
  --accentMuted: #e8daad;
}

[data-accent="yellow"][data-theme="dark"] {
  --accent: #ac8c1a;
  --accentMuted: #826c22;
}

[data-accent="green"] {
  --accent: #8bc9c5;
  --accentMuted: #afd7d5;
}

[data-accent="green"][data-theme="dark"] {
  --accent: #27a341;
  --accentMuted: #297b3b;
}

[data-accent="blue"] {
  --accent: #70afea;
  --accentMuted: #9cc7ee;
}

[data-accent="blue"][data-theme="dark"] {
  --accent: #2093fe;
  --accentMuted: #2471ba;
}

[data-accent="purple"] {
  --accent: #a09eef;
  --accentMuted: #bcbcf1;
}

[data-accent="purple"][data-theme="dark"] {
  --accent: #926bff;
  --accentMuted: #7057bb;
}

[data-accent="pink"] {
  --accent: #dba0c7;
  --accentMuted: #e3bcd7;
}

[data-accent="pink"][data-theme="dark"] {
  --accent: #e454c4;
  --accentMuted: #a84892;
}

img {
  -drag: none;
  -webkit-user-drag: none;
}